{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react",
        "jsx-a11y"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "legacyDecorators": true
        }
    },
    "rules": {
        "react/react-in-jsx-scope": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1,
                "ignoreComments": true
            }
        ],
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "prefer-template": 0,
        "space-in-parens": 0,
        "prefer-destructuring": [
            "error",
            {
                "object": false,
                "array": false
            }
        ],
        "comma-dangle": [
            "error",
            {
                "arrays": "ignore",
                "objects": "ignore",
                "imports": "ignore",
                "exports": "ignore",
                "functions": "ignore"
            }
        ],
        "lines-between-class-members": 0,
        "linebreak-style": [
            "error",
            "unix"
        ],
        "operator-linebreak": [
            2,
            "after",
            {
                "overrides": {
                    "?": "before",
                    ":": "before"
                }
            }
        ],
        "no-console": [
            "warn",
            {
                "allow": [
                    "warn",
                    "error"
                ]
            }
        ],
        "no-new": 0,
        "no-tabs": 0,
        "no-undef": 0,
        "no-plusplus": 0,
        "no-shadow": 1,
        "max-len": 0,
        "arrow-parens": 0,
        "global-require": 0,
        "no-unneeded-ternary": 0,
        "object-curly-newline": 0,
        "function-paren-newline": 0,
        "react/sort-comp": [
            2,
            {
                "order": [
                    "static-methods",
                    "lifecycle",
                    "componentDidCatch",
                    "refs",
                    "fetchers",
                    "handlers",
                    "everything-else",
                    "rendering"
                ],
                "groups": {
                    "refs": [
                        "/^set.*Ref$/"
                    ],
                    "fetchers": [
                        "/^fetch.+$/"
                    ],
                    "handlers": [
                        "/^on.+$/",
                        "/^handle.+$/"
                    ],
                    "rendering": [
                        "/^render.+$/",
                        "render"
                    ]
                }
            }
        ],
        "react/jsx-no-bind": 2,
        "react/jsx-pascal-case": 2,
        "react/jsx-first-prop-new-line": 0,
        "react/jsx-indent": [
            2,
            4
        ],
        "react/jsx-indent-props": [
            2,
            4
        ],
        "react/jsx-handler-names": 2,
        "react/jsx-curly-spacing": 0,
        "react/jsx-max-props-per-line": 0,
        "react/jsx-max-depth": [
            2,
            {
                "max": 5
            }
        ],
        "react/jsx-equals-spacing": [
            2,
            "never"
        ],
        "react/jsx-closing-bracket-location": [
            2,
            "after-props"
        ],
        "jsx-a11y/anchor-is-valid": 0,
        "jsx-a11y/label-has-for": [
            2,
            {
                "components": [
                    "Label"
                ],
                "required": {
                    "some": [
                        "nesting",
                        "id"
                    ]
                },
                "allowChildren": true
            }
        ],
        "react/require-default-props": 1,
        "react/forbid-dom-props": [
            2,
            {
                "forbid": [
                    "style"
                ]
            }
        ],
        "react/forbid-prop-types": [
            2,
            {
                "forbid": [
                    "any",
                    "array"
                ]
            }
        ],
        "react/prefer-stateless-function": [
            1,
            {
                "ignorePureComponents": true
            }
        ],
        "react/jsx-sort-props": [
            2,
            {
                "callbacksLast": true,
                "shorthandFirst": true,
                "reservedFirst": true,
                "noSortAlphabetically": true
            }
        ],
        "react/jsx-wrap-multilines": [
            2,
            {
                "declaration": "parens-new-line",
                "assignment": "parens-new-line",
                "return": "parens-new-line",
                "arrow": "parens-new-line",
                "condition": "parens-new-line",
                "logical": "ignore",
                "prop": "parens-new-line"
            }
        ]
    },
    "globals": {
        "React": "writable",
        "document": true,
        "window": true,
        "location": true,
        "localStorage": true
    }
}